.containerInicio {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #111;
  background-position: center;
  border-radius: 10px;

  .div {
    width: 50%;
    // height: 60vh;

    .foto {
      width: 100%;
      object-fit: cover;
      box-shadow: 0px 0px 7px 2px #000000b2;
      border-radius: 10px;
      transition: .5s;

      &:hover {
        box-shadow: 0px 0px 7px 2px #C31926;
      }
    }
  }

  .divDescription {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #eee;

    p {
      color: #eee;
      font-size: 1rem;
    }

    h1 {
      font-size: 2.4rem;
      font-weight: 300;

      span {
        font-weight: 500;
        color: #C31926;
      }
    }

    h2 {
      letter-spacing: 4px;
      font-weight: 500;
    }

    .description {
      flex-grow: 1;
      letter-spacing: 2px;
      line-height: 1.5rem;
    }

    .linkSociais {
      display: flex;
      gap: 20px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        box-shadow: 0px 0px 6px 2px #eeeeee41;
        transition: .5s;
        
        svg {
          color: #aaa;
          transition: .5s;
        }

        &:hover {
          box-shadow: 0px 0px 6px 2px #C31926;

          svg {
            color: #C31926;
          }
        }
      }
    }
  }
}

// Media
@media (max-width: 768px) {
  .containerInicio {

    .div {
      width: 100%;
    }

    .divDescription {
      position: static;
      margin: 0 20px;
    }
    
    .containerImg {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .containerInicio { 
    .containerImg {
      width: 500px;
    }
  }
}